{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <h2 class="mb-4 text-center logo-color">Forgot Your Password?</h2>
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <p class="text-muted mb-4 text-center custom-font-size-sm">
                    Enter the email address associated with your account, and we'll send you a link to reset your password.
                </p>
                <form method="POST" action="{{ url_for('auth.forgot_password') }}"> 

                    <div class="form-floating mb-3 form-floating-custom-font">
                        <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="name@example.com" value="{{ request.form.email or '' }}" required>
                        <label for="email">Email address <span class="text-danger">*</span></label>
                    </div>

                    <div class="auth d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-send-fill"></i> Send Reset Link
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <p class="mt-3 text-center custom-font-size-sm">
            Remember your password? <a href="{{ url_for('auth.login') }}">Sign In</a>
        </p>
    </div>
</div>
{% endblock %}