{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <h1 class="display-5 logo-color">{{plan.name}}</h1>
            <p class="text-muted" style="font-size: 1rem;">Status: {{ Status | default('Developing') }}, Recipient: {% if plan.is_for_self %}Yourself{% else %}{{ plan.answers_json.get("step_1",{}).get("care_recipient_name","For Someone you care for.")}}{% endif %}</p>

            {% include 'home/plan/progress_bar.html' %}
            
            <div class="card shadow mt-4">
                <div class="card-body p-4 p-md-5">
                    {% block plan_content %} {% endblock %}
                </div>
                
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
    {# This block is intentionally left empty to hide the footer on this page #}
{% endblock footer %}